@inject IJSRuntime _JsRuntime

<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if(ChildContent != null) {
            <span>@ChildContent</span>
        }
    </div>
    <button class="btn btn-danger" @onclick="OnButtonClick">Button to be clicked</button>

    <_GrandChildComponent />
</div>

@code {

    [Parameter]
    public string Title { get; set;}

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    @* USE CASCADING PARAMETERS INSTEAD!!
    [Parameter]
    public string MessageForGrandChild { get; set; } *@

    public async Task SweetAlertSuccess() {
        await _JsRuntime.InvokeVoidAsync("ShowSwal", "success", "Task Completed Successfully!");
    }

}
